.outerBox {
    height: '100vh';
    width: '100%';
    display: 'flex';
    flex-direction: 'column';
    justify-content: 'center';
    align-items: 'center';
    gap: 1;
}

.innerBox {
    display: 'flex';
    flex-direction: 'column';
    gap: 1;
}
